html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f5f5f5 !important;
}
.user_card {
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #292c2c;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.form_container {
  margin-top: 20px;
}

#form-title {
  color: #f5f5f5;
}
.login_btn {
  width: 100%;
  background: #020202 !important;
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #a1e07d !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

#background{
    background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.Y94URk9AVHlf3aQfx_JP3gHaDt%26pid%3DApi&f=1);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
	  background-size: cover;
	  position: relative;
	  left: 0;
	  height: 100vh;	
}

.nav-bg{
  background-color: #004643 !important;
}
div.container{height: 100vh !important;}

.navbar-nav.navbar-center { 
  position: absolute; 
  left: 50%; 
  transform: translatex(-50%); 
} 