{% extends 'fpage/base.html' %}
{% block content %}
<div class="container">
    <img src="{{ album.album_logo_link }}">
    <h1>{{ album.album_title }}</h1>
    <h2>{{ album.artist }}</h2>
    <form action="{% url 'fpage:fav-song' album.id %}" method="post">
        {% csrf_token %}
        {% for song in album.song_set.all %}
        <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}" />
        <label for="song{{ forloop.counter }}">
            {{ song.song_title}}
            {% if song.is_favorite %}
            <img height="20" width="20"
                src="https://cdn2.iconfinder.com/data/icons/crystalproject/crystal_project_256x256/apps/keditbookmarks.png" />
    
            {% endif %}
        </label></br>
        {% endfor %}
        <input type="submit" class="btn" value="Favorite">
    </form>
</div>
{% endblock content %}