{% extends "fpage/base.html" %}
{% block content %}
<div class="index-container pt-5">
  <div class="row">
    <ul class="d-flex w-100 justify-content-between" style="list-style-type: none">
      {% for album in all_albums %}
      <li>
        <div class="col">
          <img src="{{album.album_logo_link}}" height="200" width="150" />
          <h2>{{ album.album_title }}</h2>

          <a href="{% url 'fpage:detail' album.id %}" class="btn btn-info" role="button">Details</a>
          <!-- Favourite-->
          <!-- If Album favourite, render the button with favorite class -->
          {% if album.is_favorite_album %}
          <button class="btn btn-outline fas fa-heart favorite" data-bookmark-url="{% url 'fpage:fav-album' %}" data-album-id="{{ album.id }}" onclick='favouriteAlbum(this)' role="button"></button>

          <!-- If Album favourite, render the button with favorite class -->
          {% else %}
          <button class="btn btn-outline fas fa-heart" data-bookmark-url="{% url 'fpage:fav-album' %}" data-album-id="{{ album.id }}" onclick='favouriteAlbum(this)' role="button"></button>
          {% endif %}
          <!-- Delete-->
          {% comment %} <a href="{% url 'fpage:album-delete' album.id %}" class="btn btn-info" role="button">Delete</a> {% endcomment %}
          <button type="button" class="btn btn-danger deleteModalBtn" data-album-id="{{ album.id }}" data-toggle="modal" data-target="#deleteModal"> Delete</button>
          <p></p>
        </div>
      </li>



      {% endfor %}
    </ul>
    <!--Modal-->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure you want to Delete?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary">Confirm</a>
              </div>
            </div>
          </div>
        </div>
        <!--Modal--> 
  </div>
</div>
<!-- JS FOR FAVOURITE FEATURE -->
<script type="text/javascript">

$(document).on('click', '.deleteModalBtn', function() {

   // access the album id using data attribute
    var albumID = $(this).data('album-id');

    // generating the url for the album. Here the initial value of id is dummy which will be replaced each time the modal is called
    var deleteUrl = "{% url 'fpage:album-delete' id=12345 %}".replace(/12345/, albumID.toString());

    // add the dynamic href value to the modal's delete button
    $('.deleteAlbumBtn').attr('href', deleteUrl);
  })
  // this function is triggered by the clicking of favorite button
  // `elem` is the button which triggered the function
function favouriteAlbum(elem) {
$.ajax({
type: 'GET',
url: $(elem).attr('data-bookmark-url'),    // url where request need to be sent
data: {
'album_id': $(elem).attr('data-album-id'),    // album id
          },
success: function() {
$(elem).toggleClass('favorite');
}
      });
  }
</script>
{% endblock %}