{% extends "fpage/main.html" %}
{% block content %}
<body>
<!--Navbar -->
<nav class=" navbar navbar-expand-lg navbar-dark nav-bg lighten-1">
  <a class="navbar-brand" style="
            height: 55px;
            color: rgb(205, 224, 224);
            text-decoration: none;
            vertical-align: text-top;
          " href="{% url 'music:index' %}">
          <font size="+3"><i><b>Albums</b></i> &nbsp&nbsp&nbsp&nbsp&nbsp</font>
        </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="nav navbar-nav navbar-center">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'music:index' %}">Albums 
          <span class="fa fa-music" aria-hidden="true"></span>&nbsp&nbsp&nbsp&nbsp
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Songs
          <span class="fa fa-headphones" aria-hidden="true"></span>&nbsp&nbsp&nbsp&nbsp
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Add Album
          <span class="fa fa-plus" aria-hidden="true"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        </a>
      </li>
      <nav class="navbar navbar-expand-sm navbar-dark">
        <form class="form-inline" action="/action_page.php">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-dark" type="submit">Search</button>
        </form>
      </nav> 
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
     <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user">&nbsp&nbsp&nbsp</i>{{request.user}}</a>
        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item" href="{% url 'fpage:logout' %}">Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->                                                                                     
<div id="background">
  <div class="container pt-5">
    <div class="row">
      <ul class="d-flex w-100 justify-content-between" style="list-style-type: none">
        {% for album in all_albums %}
        <li>
          <div class="col">
            <img src="{{album.album_logo_link}}" height="200" width="150" />
            <h2>{{ album.album_title }}</h2>

            <a href="{% url 'music:detail' album.id %}" class="btn btn-info" role="button">Details</a>

            <button type="button" class="btn btn-default btn-sm">
              <span class="fas fa-star"></span> Star
            </button>
            <!--{% if album.is_favorite %}
                                          <img height="20" width="20" src="https://cdn2.iconfinder.com/data/icons/crystalproject/crystal_project_256x256/apps/keditbookmarks.png"/>
                                          
                                          {% endif %}-->
            <button type="button" class="btn btn-default btn-sm">
              <span class="fas fa-trash"></span> Delete
            </button>
            <p></p>
          </div>
        </li>

        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<footer class="page-footer text-center font-small pt-1 wow fadeIn">

  <hr class="my-1">

  <!-- Social icons -->
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-3" style="color:rgb(247, 241, 241)">
    To Make the project grow Contribute Here &nbsp&nbsp
    <a href="https://github.com/mann27/Albums" target="_blank"> 
        <i class="fab fa-github"> </i>
   </a>
  </div>
  <!--/.Copyright-->

</footer>
<!-- Footer -->
</body>
{% endblock %}