<!--Navbar -->
<nav class=" navbar navbar-expand-lg navbar-dark nav-bg lighten-1">
    <a class="navbar-brand" style="
              height: 55px;
              color: rgb(205, 224, 224);
              text-decoration: none;
              vertical-align: text-top;
            " href="{% url 'music:index' %}">
            <font size="+3"><i><b>Albums</b></i> &nbsp&nbsp&nbsp&nbsp&nbsp</font>
          </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
      aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
      <ul class="nav navbar-nav navbar-center">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'music:index' %}">Albums 
            <span class="fa fa-music" aria-hidden="true"></span>&nbsp&nbsp&nbsp&nbsp
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Songs
            <span class="fa fa-headphones" aria-hidden="true"></span>&nbsp&nbsp&nbsp&nbsp
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'fpage:add-album' %}">Add Album
            <span class="fa fa-plus" aria-hidden="true"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          </a>
        </li>
        <nav class="navbar navbar-expand-sm navbar-dark">
          <form class="form-inline" action="/action_page.php">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-dark" type="submit">Search</button>
          </form>
        </nav> 
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
       <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user">&nbsp&nbsp&nbsp</i>{{request.user}}</a>
          <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
            <a class="dropdown-item" href="{% url 'fpage:logout' %}">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar --> 