<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'fpage:home' %}">Albums</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="mr-2 nav-item active">
                <a class="nav-link" href="{% url 'fpage:index' %}">
                    <span class="fa fa-music"></span> Albums
                </a>
            </li>
            <li class="mr-2 nav-item">
                <a class="nav-link active " href="{% url 'fpage:song-list' %}">
                    <span class="fa fa-headphones"></span> Songs
                </a>
            </li>
            <li class="mr-2 nav-item active">
                <a class="nav-link" href="{% url 'fpage:album-list' %}">
                    <span class="fa fa-plus"></span> Add Albums
                </a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="mr-2 nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {{ request.user }}
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                    <a class="dropdown-item active" href="{% url 'fpage:profile' %}">Profile</a>
                    <a class="dropdown-item" href="{% url 'fpage:fav-album-list' %}">Favourite Albums</a>
                    <a class="dropdown-item" href="{% url 'fpage:fav-song-list' %}">Favourite Songs</a>
                    <a class="dropdown-item" role="button" class="btn btn-primary" data-toggle="modal" data-target="#LogoutModal">Log Out</a>
                </div>
            </li>
            {% else %}
            <li class="mr-2 nav-item">
                <a class="nav-link active" href="{% url 'fpage:login' %}">Login</a>
            </li>
            <li class="mr-2 nav-item">
                <a class="nav-link  active" href="{% url 'fpage:register' %}">Register</a>
            </li>
            {% endif %}
        </ul>
        {% if request.user.is_authenticated %}
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        {% endif %}
    </div>
    <!--Modal-->
        <div class="modal fade" id="LogoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure you want to Log Out?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="{%url 'fpage:logout'%}">Confirm</a>
              </div>
            </div>
          </div>
        </div>
        <!--Modal-->
</nav>