{% extends "fpage/base.html" %}}
{% block content %}
<div id="background">
<div class="card-body">
    <div class="d-flex justify-content-between ">
        <h4>Song List</h4>
        <a type="button" class="btn btn-success line-add-song" href="{%url 'fpage:song-create' %}">Create</a>
    </div>
    <table class="table right">
        <thead>
            <tr>
                <th scope="col">album</th>
                <th scope="col">file type</th>
                <th scope="col">song title</th>
                <th scope="col">favorite</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for song in all_songs %}
            <tr>
                <td>{{ song.album }}</td>
                <td>{{ song.file_type }}</td>
                <td>{{ song.song_title }}</td>
                <td>{{ song.is_favorite }}</td>
                <td><a type="button" class="btn btn-warning" href="{%url 'fpage:song-update' song.id  %}">Update</a>
                    <a type="button" class="btn btn-danger" href="{%url 'fpage:song-delete' song.id  %}">Delete</a>
                    <form action="/watchlater/" method="POST">{% csrf_token %}
                    <input type="hidden" name="video_id" value="{{song.id}}">
                    <button type="submit" class="btn btn-outline-info mt-2" id="submit_btn">Listen Later</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}